.content{
  background-color: white;
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}

.imgLogo{
  max-width: 500px;
  max-height: 500px;
  display: block;
  margin: 20px auto;
}

.title{
  text-align: center;
  font-size: 19pt;
  font-weight: bold;
}
